<ion-view view-title="Power Design's Wheel of Fortune">
<ion-content class="padding">
    <!-- <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>MY HEART</b>, and the only cure is MORE COWBELL!
        </div>
      </div>
    </div>
    
--> 
 
     <!-- <div id="heading"></div> -->
    <div id="venues" ><ul /></div>

    <div id="wheel" >
        <canvas id="canvas" width="900" height="700"></canvas>
    </div>

 
    <div id="stats">
    <div id="counter"></div>
    </div>




  </ion-content>
</ion-view>
