
      <style type="text/css">

        body {
            background-color: #f7f8fa !important;
            font-family: "Cabin", "Exo", "PT Sans", Arial, sans-serif !important;
            font-weight: 600;
        }
        header {
            background: #c7091d;
            border-bottom: 2px solid #666366;
            text-align: center;
        }

        header h1 {
            padding: .4em 0 .1em;
            margin: 0 3em;
        }
        h2 {
            font-family: "Cabin", "Exo", "PT Sans", Arial, sans-serif !important;
            color: #333;
            font-weight: 600;
            margin: 5%;
        }
         #footer {
            margin-top: -24%;
            font-family: "Cabin", "Exo", "PT Sans", Arial, sans-serif !important;
            color: #fff;
            background-color: #c7091d;
            font-weight: 600;
            font-size: 1.5em;
            border-top: 2px solid #666366;
            text-align: center;
            padding: 10px;
        }
        #button {
            font-family: "Cabin", "Exo", "PT Sans", Arial, sans-serif !important;
            color: #fff;
            background-color: #c7091d;
            font-weight: 600;
            font-size: 18px;
            margin-right: 5%;
            margin-top: -6%;
            padding: 3px 13px;
            float: right;
        }
        #heading {
            font-family: "Cabin", "Exo", "PT Sans", Arial, sans-serif !important;
            margin-top: 4%;
            margin-right: 10%;
            margin-bottom: -30px;
            margin-left: 24%;
            color: #c7091d;
            font-weight: 600;
            font-size: 1.33em;
        }
        #prizes ul {

            list-style-type: none;
            display: block;
            margin-right: 20px;
            float: right;
            font-family: "Cabin", "Exo", "PT Sans", Arial, sans-serif !important;
            font-weight: 600;
            font-size: 1.2em;
        }
         #prizes ul li{

            list-style-type: none;
            display: inline !important;
            padding: 10px 5px !important;
            margin-right: 20px;
        }
        #canvas {
            width: 100%;
            height: 80%;
            margin: 0;
        }
        #counter {
            margin-top: 5%;
            margin-bottom: 0;
            text-align: center;
            font-family: "Cabin", "Exo", "PT Sans", Arial, sans-serif !important;
            font-weight: 600;
            font-size: 1.5em;
            color: #c7091d;
        }
        .end {
            margin: 10px 10px 20px 10px;
        }
        #prizes {
            display: none;

        }
        #buttonDiv {
            margin: 10px 10px 20px 10px;
        }
        #stats {
            margin-top: -25%;
        }

        .mainDiv {
          max-width: 95% !important;
          margin: 6% 3% 13% 3%;
        }
        .prizesDiv {
          max-width: 95% !important;
          margin: 10px 10px 10px 10px;
          border: 2px solid rgb(199, 9, 29);
        }

    </style>
